@model Web1.Models.IndexDepartment

@{
    ViewBag.Title = "DetailsDepartment";
    Layout = "~/Views/Shared/_home.cshtml";
}

<h2 style="padding-left:50px">DetailsDepartment</h2>

<div style="padding-left:50px">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.department.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.DepartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.DepartmentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.DepartmentAddress)
        </dd>

    </dl>
</div>
<p style="padding-left:50px">
    @Html.ActionLink("Edit", "EditDepartment", new { id = Model.department.DepartmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />